@import url('../common.css');
/* 멤버로그인 복사 S */

.content-box {
    min-width: 550px;
    max-width: 700px;
    min-height: 200px;
    margin: 150px auto;
    box-shadow: 2px 2px 10px #414141;
    border-radius: 20px;
    padding: 30px;

}
.content-box h1 {
    font-size: 1.5rem;
    line-height: 1;
    padding: 0 10px 15px;
    margin: 0 0 20px;
    border-bottom: 2px solid #000;
}



/* km */
.centered {
    text-align: center;
    margin-top: 40px; /* 원하는 만큼의 상단 여백 설정 */
}


/*도갑 뷰 에서 */
.pokemon-view {
    display: flex;
}
.pokemon-view  img{
    border: solid 1px;
    border-radius: 20%;
    height: 300px;
    margin: 5px;
}
.p-desc {
    display: inline-block;
}
.p-desc div {
    display: flex;
}

.p-spec-km .p-spec-item {
    display: block;
    margin-bottom: 10px; /* 각 항목 사이의 간격을 조정 */
}

.p-spec-km {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px; /* 각 항목 사이의 간격을 조정 */
}
.p-spec-item {
    grid-column: span 1;
}