
.button1 {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button1:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

.button2 {
    display: inline-block;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}

.button2:hover {
    color: var(--primary-color);
    font-weight: bold;
}