.layout-width {
    //background-color: #f8f8f8;
    margin: auto;
    text-align: center;
}

form {
    margin: auto;
}


dl {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
}


dt {
    font-size: 18px;
    color: var(--primary-color);
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}


dd {
    font-size: 18px;
    color: var(--primary-color);
    margin-top: 20px;
    margin-bottom: 10px;
}


input[type="text"],
input[type="password"] {
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 3px;
}



button[type="submit"],
#generate-profile-image {
    font-size: 20px;
    margin-top: 15px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
}

button[type="reset"] {
    font-size: 20px;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
}



button[type="submit"]:hover,
#generate-profile-image:hover {
    color: var(--secondary-color);
    font-weight: bold;
}

button[type="reset"]:hover {
    color: var(--primary-color);
    font-weight: bold;
}


.button-group {
    margin-top: 20px;
}


.button-group button {
    margin-right: 10px;
}