<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.member.mappers.MemberMapper">
    <resultMap id="memberMap" type="org.choongang.member.entities.Member">
        <result column="USER_NO" property="userNo"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_TYPE" property="userType"/>
        <result column="REG_DT" property="regDt"/>
        <result column="MOD_DT" property="modDt"/>
        <result column="MY_POKEMON_SEQ" property="myPokemonSeq"/>
    </resultMap>

    <select id="exists" resultType="long">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="get" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="getMemberByUserNo" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE USER_NO = #{userNo}
    </select>


    <insert id="register">
        INSERT INTO MEMBER (USER_NO, EMAIL, PASSWORD, USER_NAME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{userName})
    </insert>
    <update id="getPokemon" parameterType="org.choongang.member.entities.GetRandPokemon">
        UPDATE MEMBER SET MY_POKEMON_SEQ = #{seq} WHERE USER_NO = #{userNo}
    </update>
    <select id="getMyPokemon" resultType="long">
        SELECT MY_POKEMON_SEQ FROM MEMBER WHERE USER_NAME = #{userNm}
    </select>
    <update id="modify">
        UPDATE MEMBER
        <set>
            <if test="userName != null and !userName.equals('')">
                USER_NAME=#{userName},
            </if>
            <if test="password != null and !password.equals('')">
                PASSWORD=#{password},
            </if>
            <if test="userType != null">
                USER_TYPE=#{userType},
            </if>
            MY_POKEMON_SEQ=#{myPokemonSeq},
            MOD_DT = SYSDATE
        </set>
        WHERE email=#{email}
    </update>
    <select id="getList" resultMap="memberMap">
        SELECT * FROM (SELECT ROWNUM NUM, M.* FROM MEMBER M
        <where>
            <if test="skey!=null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'"/>
                AND USER_NO || EMAIL || USER_NAME || USER_TYPE LIKE #{keyword}
            </if>
            <if test="email != null and !email.equals('')">
                <bind name="sEmail" value="'%' + _parameter.getEmail() + '%'"/>
                AND EMAIL LIKE #{sEmail}
            </if>
            <if test="userName != null and !userName.equals('')">
                <bind name="sUserName" value="'%' + _parameter.getUserName() + '%'"/>
                AND USER_NAME LIKE #{sUserName}
            </if>
            <if test="userType != null and !userType.equals('')">
                AND USER_TYPE = #{userType}
            </if>
        </where>
        ORDER BY USER_NO
        ) M2

        WHERE
        <![CDATA[
            M2.NUM >= #{offset} AND M2.NUM < #{endRows}
        ]]>

    </select>

    <delete id="delete">
        DELETE FROM MEMBER WHERE EMAIL=#{email}
    </delete>

    <select id="getTotal" resultType="int">
        SELECT COUNT(*) FROM MEMBER
        <where>
            <if test="skey!=null and !skey.equals('')">
                <bind name="keyword" value="'%' + _parameter.getSkey() + '%'"/>
                AND USER_NO || EMAIL || USER_NAME || USER_TYPE LIKE #{keyword}
            </if>
            <if test="email != null and !email.equals('')">
                <bind name="sEmail" value="'%' + _parameter.getEmail() + '%'"/>
                AND EMAIL LIKE #{sEmail}
            </if>
            <if test="userName != null and !userName.equals('')">
                <bind name="sUserName" value="'%' + _parameter.getUserName() + '%'"/>
                AND USER_NAME LIKE #{sUserName}
            </if>
            <if test="userType != null">
                AND USER_TYPE = #{userType}
            </if>
        </where>
    </select>
</mapper>