:root {
    --primary-color: #1B3467; /* Primary 색상 */
    --secondary-color: #e7c533; /* Secondary 색상 */
    --accent-color: #e74c3c; /* Accent 색상 */
    --background-color: #ffffff; /* 배경 색상 */
    --text-color: #1b2630; /* 텍스트 색상 */
}



