/*메인 레이아웃 공통*/
@import url('common.css');
/* 드롭다운 컨테이너 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}

/* 드롭다운 콘텐츠 스타일 */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color); /* 네비게이션 배경색과 동일 */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--background-color); /* 메뉴 텍스트 색상 */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.5rem; /* 메뉴 1과 동일한 글자 크기 */
    line-height: 45px;
    background-color: transparent; /* 배경색을 투명하게 설정 */
}

.dropdown-content a:hover {
    background-color: transparent; /* 호버 시 배경색을 다시 투명하게 설정 */
}

/* 드롭다운 컨테이너에 마우스를 올리면 드롭다운 콘텐츠를 보이게 함 */
.dropdown:hover .dropdown-content {
    display: block;
}

@keyframes infinite-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.layout-width {
    min-width: 1100px;
    max-width: 1300px;
    margin-left: 50px;
    margin-right: auto;
    padding: 0;
}


button:hover, a:hover {
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3); /* 하단 그림자 설정 */
}

/*사이트 헤더 영역 S*/

header .site-top {
    border-bottom: 1px solid #8f8f8f;
    top: 0;
    width: 100%;
    background: var(--background-color);

}


header .site-top > .inner {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}

header .site-top i {
    background: var(--background-color);
    font-size: 1.3rem;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}



header .site-top a {
    background: var(--background-color);
    line-height: 1;
    margin: 0;
    padding: 0;
}
header .logo img {
    position: relative; /* 추가: z-index가 적용되도록 position 설정 */
    z-index: 9000;
    padding: 0;
    margin: 10px auto; /* 상하 10px, 좌우 자동으로 마진을 설정하여 가로 중앙에 배치 */
    height: 80px;
    display: block; /* 이미지를 블록 요소로 설정하여 가로 중앙 정렬을 용이하게 함 */
    transition: transform 0.8s; /* 부드러운 전환을 위해 transition 속성 추가 */
}

.header-bottom-box {
    background-color: var(--background-color); /* 배경색을 흰색으로 설정 */
    color: #000000; /* 글자색을 검은색으로 설정 */
    height: 119px; /* 박스 높이 설정 */
    width: 100%; /* 박스 너비를 100%로 설정 */
    position: absolute; /* 절대 위치 설정 */
    top: 37px; /* 로고와 서치 박스의 높이 + 여백 */
    z-index:1000; /* 다른 요소보다 위에 위치하게 하기 위해 높은 z-index 설정 */
    display: block; /* 박스를 보이게 설정 */
    left: 0; /* 왼쪽에 고정 */

}
header .logo img:hover {
    transform: rotate(360deg); /* 마우스 호버 시 회전 효과 적용 */
}





/* 회전 애니메이션 정의 */

header .main-center img{
    height: 150px;
}
header .site-top a:hover {
    font-weight: bold;
}

header .site-top .right a {
    margin-left: 10px;
    /*background: var(--background-color);*/
}
header .right {
    height: 100%;
    align-items: center;
}
header .logged-in-right {
    height: 100%;
    display: flex;
    align-items: center;
}
header .logged-in-right img{
    align-items: center;
    height: 100%;
}
header .logo-search {
    padding: 10px 0;
    background: var(--background-color);
}

header .logo-search > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .search-box {
    position: relative; /* 추가: z-index가 적용되도록 position 설정 */
    z-index: 9000;
    display: flex;
    width: 300px;
    height: 45px;
    border: 2px solid var(--primary-color);
}

header .search-box input[type='text'] {
    flex-grow: 1;
    height: 45px;

    border-radius: 3px;
    border: 2px solid #c2c2c2;


}

header .search-box button {
    width: 45px;
    background: var(--text-color);
    height: 45px;
    border: 1px solid var(--background-color);
    border-radius: 3px;
    cursor: pointer;
}

header .search-box button i {

    color: var(--background-color);


}

header .search-box button:hover {

    background: var(--secondary-color);

}

nav {
    background: var(--primary-color);
}

nav > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

nav > .inner a {
    font-size: 1.5rem;
    color: var(--background-color);
    padding: 0 25px;
    line-height: 45px; /*lineheight 를 맞추면 정렬 할수 있음!!*/
}

nav > .inner a:hover {
    font-weight: bold;
    color: var(--secondary-color);


    /*background: #d7a513;*/
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* 다른 요소보다 위에 위치하게 하기 위해 사용 */
    background-color: transparent; /* 헤더의 배경색 설정 */
}

main {
    padding-top: 254px; /* 헤더 높이만큼 패딩 추가 */
    background:url('../images/whiteBg.png') no-repeat center center ;
    background-size: 100% 100%;
}


/*사이트 푸터 영역 S*/
footer {
    margin-top: 300px;
    min-height: 100px;
    width: 100%;
    padding: 20px;
    background: #f5f5f5;
    border-top: 1px solid #f9f9f9;
}

footer .information a {
    height: 100px;
    font-size: 1.3rem;
    font-weight: bold;
}

footer .information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding-right: 20px;
    background: var(--background-color);
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    padding-right: 20px;
}

/*사이트 푸터 영역 E*/
/* 페이징 공통 S */
.pagination {
    text-align: center;
    margin: 20px 0;
}
.pagination a {
    border: 1px solid #333;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
}
.pagination a.on {
    background: #333;
    color: #fff;
}
/* 페이징 공통 E */