 /*사이트 태그 초기화 작업*/
 @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: "Nanum Gothic", sans-serif;
    color: #000;

}
 html {
     font-size: 13px; /*1rem - 13px*/

 }

 body{
    margin:0;
}
 a{
     text-decoration: none;
 }
 ul,ol{
     list-style: none;
     padding: 0;
     margin: 0;
 }
 dl,dt,dd {
     margin: 0;
     padding: 0;
 }
 img{
     border: 0;
 }
 input[type='text'],
 input[type='number'],
 input[type='email'],
 input[type='password']{
     border: 1px solid #ccc;
     padding: 0 10px;
     width: 100%;
     height: 35px;
     border-radius: 3px;
}
 textarea{
     border: 1px solid #ccc;
     padding: 10px;
     min-height: 100px;
     resize: none;/*크기변경 안되고 스크롤바로만 할수있게*/
     border-radius: 3px;
 }
.dn { display: none !important; }