<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choongang.game.mapper.GameMapper">
    <resultMap id="gameMap" type="org.choongang.member.entities.Member">
        <result column="USER_NO" property="userNo"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="USER_NAME" property="userName"/>
        <result column="USER_TYPE" property="userType"/>
        <result column="REG_DT" property="regDt"/>
        <result column="MOD_DT" property="modDt"/>
        <result column="MY_POKEMON_SEQ" property="myPokemonSeq"/>
    </resultMap>

    <select id="exists" resultType="long">
        SELECT COUNT(*) FROM MEMBER WHERE EMAIL=#{email}
    </select>

    <select id="get" resultMap="memberMap">
        SELECT * FROM MEMBER WHERE EMAIL=#{email}
    </select>



    <select id="getPokemonByUserNo" resultMap="gameMap">
        SELECT * FROM POKEMON WHERE SEQ = (SELECT MY_POKEMON_SEQ FROM MEMBER WHERE USER_NO = #{userNo}
    </select>

    <select id=" getPokemonBySeq" resultMap="gameMap">
        SELECT * FROM POKEMON WHERE SEQ = #{seq}
    </select>
    <select id="getAllPokemon" resultMap="gameMap">
        SELECT * FROM POKEMON
    </select>




    <insert id="register">
        INSERT INTO MEMBER (USER_NO, EMAIL, PASSWORD, USER_NAME)
        VALUES (SEQ_MEMBER.NEXTVAL, #{email}, #{password}, #{userName})
    </insert>
    <update id="getPokemon" parameterType="org.choongang.member.entities.GetRandPokemon">
        UPDATE MEMBER SET MY_POKEMON_SEQ = #{seq} WHERE USER_NO = #{userNo}
    </update>
    <select id="getMyPokemon" resultType="long">
        SELECT MY_POKEMON_SEQ FROM MEMBER WHERE USER_NAME = #{userNm}
    </select>
</mapper>