/*메인 레이아웃 공통*/
.layout-width{
    min-width: 1100px;
    max-width: 1300px;
    margin: 0 auto;
}
/*사이트 헤더 영역 S*/
header .site-top{
    background: #e7c533;
    border-bottom: 1px solid #6b5e54;
}
header .site-top > .inner{
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
}
header .site-top i{
    font-size: 1.3rem;
    vertical-align: middle;
}
header .site-top a{
    line-height: 1;
}
header .logo img{
    height: 130px;
}
header .site-top a:hover{
    font-weight: bold;
}
header .site-top .right a{
    margin-left: 10px;
}
header .logo-search{
    padding: 30px 0;
}
header .logo-search > .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-search2{
    padding: 30px 0px 0px 8000px;
}
header .search-box {
    display: flex;
    width: 300px;
    height: 45px;
}
header .search-box2 {
    display: flex;
    width: 300px;
    height: 45px;
}
header .search-box input[type='text'] {
    flex-grow: 1;
    height: 45px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
header .search-box button{
    width: 45px;
    background: silver;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}
header .search-box button i{
    color: #fff;
}
header .search-box button:hover{
    background: #e7c533;
}
nav {
    background: #e7c533;
}
nav > .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}
nav > .inner a{
    font-size: 1.5rem;
    color: #8f8f8f;
    padding: 0 25px;
    line-height: 45px;/*lineheight 를 맞추면 정렬 할수 있음!!*/
}
nav > .inner a:hover{
    font-weight: bold;
    color: #183bcc;
    /*background: #d7a513;*/
}
.search {
    position: relative;
    width: 300px;
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

search .img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}

/*사이트 푸터 영역 S*/
footer{
    margin-top: 100px;
    min-height: 250px;
    background: #f8f8f8;
    border-top: 1px solid #ccc;
}
/*사이트 푸터 영역 E*/