.admin-member-table {
    width: 1000px;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.admin-member-table th {
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

.admin-member-table td {
    border: 1px solid #dddddd;
    padding: 10px;
}

.memberCheckbox {
    transform: scale(1.3);
    align-items: center;
}

.admin-member-table tbody tr {
    background-color: #f8f8f8;
    font-size: 14px;
}

.admin-member-table tbody tr:last-child {
    border-bottom: 2px solid #dddddd;
}